[Desktop Entry]
Name=argTargetName
Comment=argTargetName
Exec=/opt/argPacketName/argPacketName
Icon=/opt/argPacketName/icon.png
Terminal=false
Type=Application
Categories=Development;
